<div class="form-container">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="currentUser.username" minlength="2" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" #email="ngModel" [(ngModel)]="currentUser.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="currentUser.firstName" minlength="2"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="currentUser.lastName" minlength="2"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>User Status</mat-label>
    <input matInput [(ngModel)]="currentUser.userStatus" minlength="2"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Department</mat-label>
    <input matInput [(ngModel)]="currentUser.department" minlength="2"/>
  </mat-form-field>
  <div class="button-container">
    <button mat-button (click)="saveUser(currentUser)">Save Changes</button>
    <button *ngIf="currentUser.id !== -1" mat-button (click)="deleteUser(currentUser)">Delete User</button>
    <button *ngIf="currentUser.id === -1" mat-button (click)="cancelCreateUser()">Cancel</button>
  </div>
</div>



